html,body,.container-fluid,.row {
    height:100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  .row  {
    height:100%;
}

  .row-10 {
    height:70%;

  }
  
  .row-2 {
    height:30%;
  }
  
  .col-9,.col-3  {
    padding: 0 !important;
    margin: 0 !important;
}